html,
body {
   height: 100%;
}

body {
   overflow-x: hidden;
   font-family: 'Actay', sans-serif;
   background: #FFFFFF;
   color: var(--text, #24282E);
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 26px;
}


// a:hover {
//    cursor: url('../images/Kursor-hover.svg'), auto;

// }

button {
   cursor: pointer;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.main {
   flex: 1 0 auto;
}

.footer {
   flex: 0 0 auto;
}

.container {
   max-width: 1210px;
   margin: 0 auto;
   padding: 0 15px;
}

a {
   color: inherit;
   cursor: pointer;
}